@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --primary-color: #004E98;
    --secondary-color: #15795F;
    --accent1-color: #EBEBEB;
    --accent2-color: #EAB60B;

    --heading-font: 'Ubuntu Sans Light 300', sans-serif;
    --paragraph-font: 'Ubuntu Sans Light 300', sans-serif;

    --nav-background-color: #15795F;
    --nav-link-color: #EBEBEB;
    --nav-hover-link-color: black;
    --nav-hover-background-color: #EAB60B;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 33% 33% 33%;
}

nav {
    display: flex;
    background-color: #15795F;
    font-size: 2rem;
    justify-content: space-around;
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}
nav a {
    color: var(--nav-link-color);
    padding: 1rem;
    font-family: var(--heading-font);
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
section img {
    width: 200px;
}

figure {
    display: inline-block;
}

figcaption {
    text-align: center;
    font-family: var(--paragraph-font);
}

h1, h2 {
    font-family: 'Ubuntu Sans', Arial, sans-serif;
    color: var(--accent1-color);
    text-align: center;
    font-size: 40px;
}

p {
    font-family: 'Oswald', Arial, sans-serif;
}

* {
    text-decoration: none;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero1 h1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero1 article{
    width: 450px;
    line-height: 1.5em;
}

.hero1 img {
    display: block;
    width: 100%;
    height: 400px;
}

h1 {
    position: absolute;
    bottom: 300px;
    right: 500px;
    font-size: 75px;
}

h2 {
    background-color: var(--secondary-color);
}

article{
    position: absolute;
    padding: 50px;
    bottom: auto;
    right: 100px;
    left: 100px;
    top: 400px;
    font-size: 25px;
    background-color: rgba(235, 235, 235, 0.5);
}

 article p {
    font-size: larger;
    display: inline;
 }

 .hero article img {
    float: right;
    width: 200px;
    height: 200px;
    margin: 3px;

 }

 .map {
    display: flex;
    justify-content: center;
 }

 aside {
    padding-bottom: 2em;
 }

 .employees h2 {
    height: 45px;
 }

 aside img {
    width: 160px;
    height: 160px;
    background-color: var(--secondary-color);
    padding: 20px;
 }

 .photos {
    display: flex;
    justify-content: center;
 }

 .question_form {
    background-color: var(--accent2-color);
    height: 470px;
 }
 
 .question_form header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
 }

 .question_form h2 {
    color: white;
 }

 label {
    font-family: var(--paragraph-font);
 }

 form {
    display: grid;
    width: 700px;
    padding: 1em;
    padding-top: 2em;
    padding-left: 30em;
 }
 
 .row1 label {
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
 }
 
 label[for="useremail"]{
    padding-left: 25px;
 }

 .row1 input{
    width: 170px;
 }

 .row2{
    font-size: 15px;
 }

 .row2 label[for="purpose"]{
    padding-top: 1.1em;
    padding-bottom: 0.5em;
    font-weight: bold;
    display: block;
 }

 .row2 input {
    display: inline;
 }

 label[for="usermessage"]{
    padding-top: 1em;
 }

 textarea {
    width: 485px;
    height: 80px;
    font-size: large;
 }

 .row4 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-right: 240px;
 }
 .row4 input {
    float: left;
 }

 button {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
 }

 button:hover {
    background-color: #20AB87;
 }
 
 .button_container {
    display: flex;
    /* justify-content: center; */
    padding-top: 2em;
    padding-left: 12em;
 }

 footer nav {
    display: flex;
    justify-content: right;
 }