@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --primary-color: #004E98;
    --secondary-color: #15795F;
    --accent1-color: #EBEBEB;
    --accent2-color: #EAB60B;

    --heading-font: 'Ubuntu Sans Light 300', sans-serif;
    --paragraph-font: 'Ubuntu Sans Light 300', sans-serif;

    --nav-background-color: #15795F;
    --nav-link-color: #EBEBEB;
    --nav-hover-link-color: black;
    --nav-hover-background-color: #EAB60B;
}
h1, h2 {
    font-family: 'Ubuntu Sans', Arial, sans-serif;
    color: var(--accent1-color);
}

p {
    font-family: 'Oswald', Arial, sans-serif;
}

* {
    text-decoration: none;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    bottom: 350px;
    right: 500px;
    font-size: 75px;
}

h2 {
    background-color: var(--secondary-color);
}

article{
    position: absolute;
    padding: 50px;
    bottom: auto;
    right: 100px;
    left: 100px;
    top: 400px;
    font-size: 25px;
    background-color: rgba(235, 235, 235, 0.5);
}

 article p {
    font-size: larger;
    display: inline;
 }

 .hero article img {
    float: right;
    width: 200px;
    height: 200px;
    margin: 3px;

 }