@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #004E98;
    --secondary-color: #15795F;
    --accent1-color: #EBEBEB;
    --accent2-ccolor: #EAB60B;

    --heading-font: 'Ubuntu Sans Light 300', sans-serif;
    --paragraph-font: 'Ubuntu Sans Light 300', sans-serif;

    --nav-background-color: #15795F;
    --nav-link-color: #EBEBEB;
    --nav-hover-link-color: black;
    --nav-hover-background-color: #EAB60B;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}